<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Zusaztskripte</h1>
    <main>

        <form action="">
            <button class="btn" type="submit">Download PDF</button>
        </form>
        
    </main>

<%- include('includes/end.ejs') %>